/*-- scss:defaults --*/

// Look up all the Sass variables here: https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

// Fonts
$font-family-sans-serif: "Lato";
$font-family-monospace: "Ubuntu Mono";
$presentation-font-size-root: 30px;

$presentation-heading-font: "Momo Trust Display";
$presentation-h2-font-size: 2em;

/*-- scss:rules --*/

